@media screen and (min-width:1200px){
    .Mediu{
        display:none;
    }
    .DeLucru{
        text-align: center;
        border:black 1px solid;
        font-size:30px;
        background-color: green;
        color:white;
        font-weight: bold;
    }
    .gol1{
        width:10%;
    }
    .cv{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .aa > div:nth-child(even){
        border-left: solid black 1px;
        border-right: black solid 1px;
    }
    .aa{
        width:80%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;  
    }
    .gol2{
        width:10%;
    }
    .corp1{
        width:33%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .corp2{
        text-align: center;
        width:33%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .corp3{
        text-align: center;
        width:33%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .deCompletat{
        display:flex;
        flex-direction:row;
        justify-content: flex-start;
    }
    .deCompletat > img{
        width:50px;
    }
    .deCompletat > input{
        font-size: 14px;
        font-family: Arial;
        width:80%;
        border-radius: 20%;
        color: green;
    }
    input[type = 'submit']{
        font-size: 30px;
        width:50%;
        height:40px;
        background-color: green;
        color: white;
        border:1px solid black;
        border-radius: 20%;
    }
    input[type = 'submit']:hover{
        animation-name: butonul;
    }
}