@media screen and (max-width:650px){
    .gol{
       width:5%;
   }

   .aaaa{
       text-align: center;
       width:90%;
   }

   .intro{
       display:none;
   }
   .oferta{
       background-color: white;
       border:1px solid black;
       width:100%;
       font-size: 14px;
       display: flex;
       flex-direction: row;
       justify-content: flex-start;
       border-radius: 10%;
   }
   .cerinte{
       text-align: left;
   }
   .oferta img{
       display:none;
   }
   .solid{
       font-weight: bold;
       font-size: 18px;
   }
   .cerinte table{
       margin-left: 1px;
       margin-right: 1px;
       text-align: center;
   }
   .oferta .cerinte tr:nth-child(odd){
       background-color: green;
       color:white;
   }
   .prim{
       display:flex;
       flex-direction: row;
       justify-content: flex-start;
   }
   .cerinte li{
       margin-bottom: 5px;
   }
}