@media screen and (max-width:800px) and (min-width: 630px){
    .introul{
        display: none;
    }
    body{
        font-size: 14px;
        font-family:Arial;
    }
    .corp{
        display:grid;
    }
    .all{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        width:100%;
    }
    .stanga{
        width:10%;
    }
    input[type='submit']{
        font-size: 14px;
        font-family:Arial;
        border-radius: 30%;
        width:20%;
        background-color: green;
        color: white;
        border:1px black solid;
    }
    input[type='reset']{
        font-size: 14px;
        font-family:Arial;
        border-radius: 30%;
        width:20%;
        background-color: green;
        color: white;
        border:1px black solid;
    }
    .intro{
        border:black 1px solid;
        text-align: center;
        background-color: green;
        color: white;
        font-weight: bold;
    }
    .intro > h4{
        font-size: 16px;
    }
    .pozele{
        width:30px;
    }
}